@using Nop.Core.Domain.Customers
@using Nop.Core.Domain.Localization
@using Nop.Web.Framework.UI;
@using Nop.Core;
@using Nop.Core.Domain.Common;
@using Nop.Services.Security;
@{
    //var currentCustomer = this.WorkContext.CurrentCustomer;
    var usernamesEnabled = EngineContext.Current.Resolve<CustomerSettings>().UsernamesEnabled;
    var currentVersion = NopVersion.CurrentVersion;
    var kendoVersion = "2014.1.318";
    var supportRtl = EngineContext.Current.Resolve<IWorkContext>().WorkingLanguage.Rtl &&
        !EngineContext.Current.Resolve<LocalizationSettings>().IgnoreRtlPropertyForAdminArea;
    //CSS resources
    if (supportRtl)
    {
        Html.AppendCssFileParts("~/Administration/Content/styles.rtl.css");
        Html.AppendCssFileParts("~/Administration/Content/adminLTE/AdminLTE-2.3.0.rtl.css");
        Html.AppendCssFileParts("~/Administration/Content/bootstrap/css/bootstrap.rtl.css");
    }
    else
    {
        Html.AppendCssFileParts("~/Administration/Content/styles.css");
        Html.AppendCssFileParts("~/Administration/Content/adminLTE/AdminLTE-2.3.0.min.css");
        Html.AppendCssFileParts("~/Administration/Content/bootstrap/css/bootstrap.min.css");
    }
    //CSS resources
    Html.AppendCssFileParts(string.Format("~/Administration/Content/kendo/{0}/kendo.rtl.min.css", kendoVersion));
    Html.AppendCssFileParts(string.Format("~/Administration/Content/kendo/{0}/kendo.default.min.css", kendoVersion));
    Html.AppendCssFileParts(string.Format("~/Administration/Content/kendo/{0}/kendo.common.min.css", kendoVersion));
    Html.AppendCssFileParts("~/Administration/Content/jquery-ui-themes/smoothness/jquery-ui-1.10.3.custom.min.css");

    Html.AppendScriptParts(string.Format("~/Administration/Scripts/kendo/{0}/kendo.web.min.js", kendoVersion));
    Html.AppendScriptParts("~/Administration/Scripts/admin.common.js");
    Html.AppendScriptParts("~/Administration/Scripts/jquery-migrate-1.2.1.min.js");
    Html.AppendScriptParts("~/Administration/Scripts/jquery-ui-1.10.3.custom.min.js");
    Html.AppendScriptParts("~/Administration/Scripts/jquery.validate.unobtrusive.min.js");
    Html.AppendScriptParts("~/Administration/Scripts/jquery.validate.min.js");
    Html.AppendScriptParts("~/Administration/Scripts/jquery-1.10.2.min.js");

    //Html.AppendScriptParts(string.Format("~/Administration/Scripts/kendo/{0}/kendo.web.min.js", kendoVersion));
    //Html.AppendScriptParts("~/Administration/Scripts/admin.search.js");
    //Html.AppendScriptParts("~/Administration/scripts/admin.navigation.js");
    //Html.AppendScriptParts("~/Administration/Scripts/admin.common.js");
    //Html.AppendScriptParts("~/Administration/Scripts/typeahead/typeahead.bundle.min.js");
    //Html.AppendScriptParts("~/Administration/Scripts/jquery-migrate-1.2.1.min.js");
    //Html.AppendScriptParts("~/Administration/Scripts/jquery-ui-1.10.3.custom.min.js");
    //Html.AppendScriptParts("~/Administration/Scripts/jquery.validate.unobtrusive.min.js");
    //Html.AppendScriptParts("~/Administration/Scripts/jquery.validate.min.js");
    //Html.AppendScriptParts("~/Administration/Scripts/adminLTE/app.min.js");
    //Html.AppendScriptParts("~/Administration/Scripts/bootstrap/bootstrap.min.js");
    //Html.AppendScriptParts("~/Administration/Scripts/jquery-1.10.2.min.js");

    //page title
    string adminPageTitle = "";
    if (!String.IsNullOrWhiteSpace(ViewBag.Title))
    {
        adminPageTitle = ViewBag.Title + " / ";
    }
    adminPageTitle += T("Admin.PageTitle").Text;

    //has "Manage Maintenance" permission?
    var canManageMaintenance = EngineContext.Current.Resolve<IPermissionService>()
        .Authorize(StandardPermissionProvider.ManageMaintenance);

    //X-UA-Compatible tag
    var commonSettings = EngineContext.Current.Resolve<CommonSettings>();
    if (commonSettings.RenderXuaCompatible)
    {
        Html.AppendHeadCustomParts(string.Format("<meta http-equiv=\"X-UA-Compatible\" content=\"{0}\"/>", commonSettings.XuaCompatibleValue));
    }

    var webHelper = EngineContext.Current.Resolve<IWebHelper>();
}
<!DOCTYPE html>
<html @(supportRtl ? Html.Raw("dir=\"rtl\"") : null)>
<head>
    <title>@adminPageTitle</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    @Html.NopHeadCustom()
    @Html.NopCssFiles(this.Url, ResourceLocation.Head)
    @Html.NopScripts(this.Url, ResourceLocation.Head)
    <!-- Bootstrap Core CSS -->
    <link href="/Administration/Content/SBAdmin/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="/Administration/Content/SBAdmin/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="/Administration/Content/SBAdmin/dist/css/timeline.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/Administration/Content/SBAdmin/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="/Administration/Content/SBAdmin/dist/css/styles.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="/Administration/Content/SBAdmin/bower_components/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/Administration/Content/SBAdmin/bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
    <body>
        <div id="ajaxBusy">
            <span>&nbsp;</span>
        </div>
        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">SB Admin v2.0</a>
                </div>
                <!-- /.navbar-header -->
                <ul class="nav navbar-top-links navbar-right">
                    <!-- /.dropdown -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            @if (canManageMaintenance)
                            {
                                <li><a href="@webHelper.ModifyQueryString(Url.Action("ClearCache", "Common"), "returnurl=" + HttpUtility.UrlEncode(HttpContext.Current.Request.RawUrl), null)"><i class="fa fa-user fa-fw"></i> @T("Admin.Header.ClearCache")</a>
                                </li>
                                <li><a href="@webHelper.ModifyQueryString(Url.Action("RestartApplication", "Common"), "returnurl=" + HttpUtility.UrlEncode(HttpContext.Current.Request.RawUrl), null)" id="restart-application"><i class="fa fa-gear fa-fw"></i> @T("Admin.Header.RestartApplication")</a>
                                </li>
                            }
                            <li class="divider"></li>
                            <li><a href="@Url.Action("Logout", "Customer", new { area = "" }, null)"><i class="fa fa-sign-out fa-fw"></i> @T("Admin.Header.Logout")</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                </ul>
                <!-- /.navbar-top-links -->
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        @Html.Partial("MenuForSBAdmin")
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>
            <div id="page-wrapper">
                @if (IsSectionDefined("header"))
                {
                    @RenderSection("header")
                }
                @if (IsSectionDefined("headermenu"))
                {
                    @RenderSection("headermenu")
                }
                @if (IsSectionDefined("statusbar"))
                {
                    @RenderSection("statusbar")
                }
                <div class="content">
                    @Html.Partial("Notifications")
                    <div class="cph">
                        @RenderBody()
                    </div>
                </div>
                <div class="throbber">
                    <div class="curtain">
                    </div>
                    <div class="curtain-content">
                        <div>
                            <h1 class="throbber-header">Wait...</h1>
                            <p>
                                <img src="@Url.Content("~/administration/content/images/throbber-synchronizing.gif")" alt="" />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->
        <!-- jQuery -->
        @*<script src="/Administration/Content/SBAdmin/bower_components/jquery/dist/jquery.min.js"></script>*@
        <!-- Bootstrap Core JavaScript -->
        <script src="/Administration/Content/SBAdmin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- Metis Menu Plugin JavaScript -->
        <script src="/Administration/Content/SBAdmin/bower_components/metisMenu/dist/metisMenu.min.js"></script>
        <!-- Morris Charts JavaScript -->
        <script src="/Administration/Content/SBAdmin/bower_components/raphael/raphael-min.js"></script>
        @*<script src="/Administration/Content/SBAdmin/bower_components/morrisjs/morris.min.js"></script>
        <script src="/Administration/Content/SBAdmin/js/morris-data.js"></script>*@
        <!-- Custom Theme JavaScript -->
        <script src="/Administration/Content/SBAdmin/dist/js/sb-admin-2.js"></script>
        @Html.NopCssFiles(this.Url, ResourceLocation.Foot)
        @Html.NopScripts(this.Url, ResourceLocation.Foot)
    </body>
</html>
